<h2><%= @cuisine.name %></h2>
  

  <ul>
    <% @cuisine.restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_url(restaurant.id) %></li>
    <% end %>
  </ul>


  <%# @types.each do |type| %>
   	 <!-- <tr> -->
       <!-- <td><%# restaurant = Restaurant.where(type.restaurant_id = Restaurant.id) %></td> -->
     	 <!-- <td><%#= link_to restaurant.name, restaurant_url(restaurant.id) %></td> -->
       <!-- /restaurants/3 -->
     <!-- </tr> -->

  <%# end %>

   </table>



