<h3><%= @cuisine.name%> Restaurants:</h3>
  

  <ul>
    <% @cuisine.restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_url(restaurant.id) %></li>
    <% end %>
  </ul>


   </table>



