
 <table class="table table-striped">
  <tr>
    <th>Email</th>
    <th></th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.email, user_path(user.id) %></td>
    <% end %>
  </table>