<h2>My List</h2>


</ul>
Restaurant/s user <%=@user.email%> has visited: 
  <% @user.restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_url(restaurant.id)%></li>
  <% end %>
</ul>
