<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Restaurant</h2>

<%= form_tag "/restaurants" do %>
  <p><label>Name:</label> <input name="name" size="30"></p>
  <p><label>Address:</label> <input name="address" size="80"></p>
  <p><label>Rating:</label> <input name="rating"></p>
  <p><label>Description:</label></p>
  <textarea name="desc" cols="80" rows="3"></textarea>
  <p><button>Submit</button></p>
<% end %>