<style>
  label { width: 100px; vertical-align: middle;}
</style>

<h2>Add a New Restaurant</h2>

<%= form_tag "/restaurants" do %>
  <p><label>Name:</label> <input name="name" size="30"></p>
  <p><label>Address:</label> <input name="address" size="80"></p>
  <div>
    <label>Rating: </label>
    <select name="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div>
    <label>Cuisine Type: </label>
    <select name="cuisine">
      <% Cuisine.all.each do |cuisine| %>
        <option value = "<%=cuisine.id %>" ><%= cuisine.name %></option>
      <%end%>
    </select>
  </div>
  <p><label>Description:</label></p>
  <textarea name="description" cols="80" rows="3"></textarea>
  <p><button>Submit</button></p>
<% end %>